.service{
    background-color:  darkturquoise;
    transition: 0.3s;
}
.service:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.089);
    background-color: rgb(209, 118, 0);
    color: rgb(255, 255, 255);
  }
 