.carousel-text{
    text-align-last: right;
    color: rgb(6, 63, 73);
    padding: 250px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
